<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vizitkovník</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="detail">
    <div class="detail" th:each="vizitka: ${vizitka}">

        <div class th:text="${vizitka.jmeno}">jmenoZeSeznamu</div>
        <div class th:text="${vizitka.firma}">firmaZeSeznamu</div>

        <div class="udaje">
            <div class="adresa">
                <div th:text="${vizitka.ulice}">uliceZeSeznamu</div>
                <div th:text="${vizitka.obecPsc}"><span>11000</span> Prah</div>
            </div>
            <div class="kontakty">
                <i class="las la-at" th:if="${vizitka.email} != null" th:text="${vizitka.email}">email< </i>
                <i class="las la-at" th:if="${vizitka.email} == null">neuvedeno </i>

                <i class="las la-phone-alt" th:if="${vizitka.telefon} != null" th:text="${vizitka.telefon}">telefon</i>
                <i class="las la-phone-alt" th:if="${vizitka.telefon} == null">neuvedeno</i>

                <i class="las la-globe" th:if="${vizitka.web} != null" th:text="${vizitka.web}">web</i>
                <i class="las la-globe" th:if="${vizitka.web} == null">neuvedeno</i>
            </div>
        </div>
    </div>

    <div class="mapa">
        <iframe style="border:none" th:src="@{https://frame.mapy.cz/(q=${vizitka.CelaAdresa()})}" width="100%"
                height="100%" frameborder="0"></iframe>
    </div>

</div>
</body>
</html>
